h1{
    color: greenyellow;
}
*{
    border: solid;
}
.header{
    background-color: rgb(175, 150, 199);
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content: space-between;
}
h2{
    color: blue;
    text-align-last: center;
}
.ali{
    color: red;
    
    text-align: center;
}